/***********************   TOOLBAR   ****************************/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  font-family: "Verdana";
  }

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
  float: right;
  padding: 14px 16px;
}

li a:hover {
  color: chartreuse;
  border-bottom: 3px solid chartreuse;  
}

.active {
  background-color: #4CAF50;
}

/* EFFETTO CHE SI ILLUMINA IL TASTO
li a:hover:not(.active) {
  background-color: rgb(146, 64, 64);
}
*/


/***********************   STILE PAGINA GENERALE  ****************************/

  #pagina{
    background-color: black;
    font-family: "Verdana";
    color: white;
    margin: 0;
    padding: 14px 16px;
  }

/***********************   FOOTER   ****************************/
#footer {
  background-color: rgb(61, 61, 61);
  font-family: "verdana";
  text-align: left;
  color: white; 
  font-size: xx-small;
  margin: 0;
  padding: 14px 16px;
}
#imgshare{
  width: 500px; 
  height: 100px; 
  text-align:center;
  font-size: x-small;
  margin:0; 
  padding:0;
}


